$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$logo-black-color: #000000;
$button-hover-color: #188ce8;
$social-footer-color: rgba(255, 255, 255, 0.1);
$social-border-color: rgba(33, 33, 33, 0.2);
$icon-color: #afb1b8;
$accent-color: #2196f3;
$gradient-color: #2f303a66;
$alert-color: red;

$main-letter-spacing: 0.03em;
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$item-gap: 30px;

$timing-futction: cubic-bezier(0.4, 0, 0.2, 1);
