.header {
  border-bottom: 1px solid #ececec;

  &__wrap {
    display: flex;

    @media screen and (max-width: 767px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.nav {
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  display: flex;
  align-items: center;

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 87px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }

    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    padding: 32px 0;
    display: flex;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    transition: color 250ms $timing-futction;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &::after {
      position: absolute;
      bottom: -1px;
      right: 0;

      width: 0;
      height: 4px;
      display: block;
      content: '';
      border-radius: 2px;

      background-color: $accent-color;

      transition: width 250ms $timing-futction;
    }

    &:hover::after,
    &:focus::after {
      left: 0;
      width: 100%;
    }

    &--current {
      color: $accent-color;
    }

    &--current::after {
      position: absolute;
      bottom: -1px;
      left: 0;

      height: 4px;
      width: 100%;
      display: block;
      content: '';
      transform: scale(1, 1);

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  list-style: none;

  &__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__link {
    @media screen and (min-width: 1200px) {
      padding: 32px 0;
      font-size: 14px;
    }

    display: flex;

    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $secondary-text-color;
    transition: color 250ms $timing-futction;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    @media screen and (max-width: 1199px) {
      height: 14px;
      width: 14px;
      margin-right: 10px;
    }

    margin-right: 10px;

    fill: currentColor;
  }
}
