.team {
  background-color: $secondary-bg-color;
  text-align: center;

  &__titel {
    margin-bottom: $item-gap;

    font-weight: 700;
    font-size: 28px;

    @media screen and(min-width:1200px) {
      font-size: 36px;
    }

    line-height: 1.17;
  }

  &__list {
    gap: $item-gap;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }

    list-style: none;
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - $item-gap) / 2);
    }

    border-radius: 0px 0px 4px 4px;
    background-color: $primary-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__wrap {
    padding: $item-gap;
  }

  &__member {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  &__position {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: $secondary-text-color;
  }
}
